:root { 
--green_300:#8be48b; 
--gray_50_01:#f4f8ff; 
--white_A700_b2:#ffffffb2; 
--gray_50_02:#f8f9fa; 
--gray_50_03:#fafcff; 
--gray_50_04:#fcfcfc; 
--light_blue_A100:#67d7fd; 
--black_900_01:#130e00; 
--light_blue_A700:#0086ed; 
--blue_gray_700:#424c5d; 
--blue_gray_900_01:#333438; 
--blue_gray_900:#262b35; 
--black_900_02:#090b0d; 
--deep_orange_100:#fec1c1; 
--blue_900:#003995; 
--blue_gray_100:#d6dae2; 
--white_A700_0c:#ffffff0c; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--gray_800:#434041; 
--blue_gray_500:#747c89; 
--amber_700:#da9e01; 
--black_900_0c:#0000000c; 
--gray_200:#f5efed; 
--blue_50:#e0ebff; 
--black_900_0e:#0000000e; 
--blue_gray_400_01:#808191; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535353; 
--blue_gray_50:#eaecf0; 
--red_700:#d03329; 
--blue_A700:#0061ff; 
--blue_gray_100_01:#d6d5d5; 
--light_blue_400:#1ba9ff; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f9fbff; 
--blue_A700_02:#0065ff; 
--red_100:#ffe1cc; 
--green_400:#5dd65d; 
--black_900:#000000; 
--blue_gray_800:#394250; 
--black_900_29:#00000029; 
--gray_700_11:#55555511; 
--gray_900_02:#11142d; 
--black_900_e4:#000000e4; 
--gray_900_03:#242424; 
--gray_700:#666666; 
--blue_gray_200:#bac1ce; 
--gray_500:#a6a6a6; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--orange_A700:#ff6700; 
--blue_gray_600:#5f6c86; 
--gray_900:#0d1624; 
--gray_900_01:#1e1b14; 
--blue_600:#378fd3; 
--blue_gray_900_7f:#3333337f; 
--gray_300:#d2efe0; 
--blue_gray_800_01:#394150; 
--gray_300_01:#e0e0e0; 
--white_A700_87:#ffffff87; 
--blue_400:#3a96dd; 
--blue_200:#a6c8ff; 
}